.mapContainer {
	display: flex;
	max-width: var(--max-content-width);
	width: 100%;
	height: calc(100vh - 200px);
	padding: 12px;
	border-radius: var(--radius-sm);
	background-color: white;
	box-shadow: var(--shadow-sm);
}

.map {
	display: none;
	width: 100%;
	height: 100%;
}

.modalContainer {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 24px;
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

.modal {
	background-color: white;
	width: var(--max-col-width);
	padding: 16px;
	box-shadow: var(--shadow-md);
	border-radius: var(--radius-sm);
}

.modal__text {
}

.modalHeader {
	margin-bottom: 8px;
	color: var(--color-primary-700);
}

@media (min-width: 1024px) {
	.map {
		display: block;
		flex: 2 1 calc(var(--max-col-width) * 2);
	}

	.sideBar {
		flex: 1 0 var(--max-col-width);
		padding: 0px 24px;
	}

	.sideBar__intro {
		margin-bottom: var(--gap-lg);
	}

	.sideBar__locationWrappers {
		display: flex;
		flex-direction: column;
		gap: var(--gap-lg);
	}
}
