.section {
	background: #222933;
	background: linear-gradient(
		0deg,
		rgba(34, 41, 51, 1) 0%,
		rgba(43, 55, 71, 1) 30%,
		rgba(43, 55, 71, 1) 70%,
		rgba(34, 41, 51, 1) 100%
	);
}

.text_content {
	display: flex;
	color: var(--color-neutral-50);
	gap: 24px;
	max-width: 1152px;
	margin: 0px auto 48px auto;
}

.headingWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	flex: 1 0;
	max-width: 368px;
}

.text_content_subtitle {
	font:
		700 14px "Headland One",
		serif;
	color: rgba(var(--color-primary), 1);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text_content__header {
	font:
		700 40px "Instrument Sans",
		sans-serif;
	color: var(--color-neutral-50);
	margin: 0;
	line-height: 1.1;
	padding-bottom: 12px;
	text-align: center;
}

.text_content__summary {
	line-height: 1.5em;
	letter-spacing: 0.25px;
	margin: 0px auto;
	width: 600px;
}

.masonry {
	column-gap: 24px;
	column-count: 3;
	max-width: 1152px;
	margin: 0px auto;
}

.card {
	display: flex;
	flex-direction: column;
	object-fit: contain;
	margin-bottom: 24px;
	border-radius: var(--radius-xs);
	background-color: var(--color-secondary-300);
	border: 1px solid var(--color-secondary-400);
	color: var(--color-neutral-50);
	overflow: hidden;
	max-width: 368px;
	height: 440px;
	transition: all 0.2s ease-in;
}

.card:hover {
	background-color: var(--color-secondary-400);
	border: 1px solid var(--color-secondary-600);
	box-shadow: 0px 0px 8px
		color-mix(in srgb, var(--color-secondary-900) 40%, transparent);
}

.card__content {
	flex: 1 0;
	display: flex;
	flex-direction: column;
	padding: 24px 16px;
}

.card__image_wrapper {
	position: relative;
	height: 196px;
	overflow: hidden;
}

.card__image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.card__header {
	margin-bottom: 16px;
}

.card__title {
	font: 28px/1.5rem var(--font-serif);
	margin: 0px;
}

.card__kicker {
	opacity: 40%;
}

.card__description {
	opacity: 80%;
	font-weight: 200;
	letter-spacing: 0.25px;
	font-size: 0.75rem;
	line-height: 1rem;
}

.card__button {
	margin-top: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 8px 16px 8px 24px;
	border: 1px solid
		color-mix(in srgb, var(--color-neutral-50) 20%, transparent);
	transition: ease-in 0.2s all;
	opacity: 50%;
	border-radius: 2px;
}

.card__button:hover {
	border: 1px solid
		color-mix(in srgb, var(--color-neutral-50) 40%, transparent);
	opacity: 100%;
}

.card__button_arrow {
	transition: ease-in 0.2s all;
}

.card__button:hover .card__button_arrow {
	transform: translateX(1px) translateY(-1px);
}
