.header {
	display: none;
	position: fixed;
	z-index: 999;
	color: var(--color-neutral-50);
	width: 100%;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	height: 96px;
	padding: 0px max(calc((100% - var(--container-width)) / 2), 72px);
	background-color: rgb(45, 96, 148);
	backdrop-filter: blur(10px);
	box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.7);
	transition: background-color ease-in 0.1s;
	overflow: hidden;
}

.content.scrolled {
	background-color: rgb(var(--color-primary-dark));
}

.headerBuffer {
	height: 160px;
	width: 100vw;
	background-image: url("brooklynOffice.png");
}

.logo {
	height: 84px;
	width: 84px;
	transition: all 0.2s ease-in;
}

.title {
	font: lighter 48px var(--font-serif);
	margin: 0px;
	transition: all 0.2s ease-in;
	visibility: hidden;
}

.subtitle {
	font-size: 24px;
	letter-spacing: 1px;
	transition: all 0.2s ease-in;
	visibility: hidden;
}

.drawer {
	padding: 0px max(calc((100% - var(--container-width)) / 2), 72px);
	background-color: color-mix(
		in srgb,
		var(--color-neutral-50) 40%,
		var(--color-neutral-50)
	);
	backdrop-filter: blur(20px);
	box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.3);
	color: var(--color-tertiary);
	font-size: 14px;
	letter-spacing: 0.5px;
}

.drawerInner {
	interpolate-size: allow-keywords;
	overflow-y: clip;
	overflow-x: visible;
	height: 0px;
	transition: height 0.2s ease-out;
}

.drawerInnerActive {
	height: fit-content;
}

.bottomBar {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-secondary);
}

.infoRibbon {
	display: flex;
	gap: 16px;
}

.fontBold {
	font: 600 0.75rem var(--font-serif);
	letter-spacing: 1px;
}

@media (min-width: 980px) {
	.header {
		display: block;
	}

	.title {
		visibility: visible;
	}

	.subtitle {
		visibility: visible;
	}
}
