@import "tailwindcss";

.containerUnderline {
	position: relative;
}

.containerUnderline::after {
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgb(var(--color-primary));
}

.containerUnderlineOnHover {
	position: relative;
}

.containerUnderlineOnHover:hover::after {
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgb(var(--color-primary));
}
