.container {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
}

.logo {
	height: 64px;
	width: 64px;
	transition: all 0.2s ease-in;
}

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font: 800 1.75rem var(--font-sans-serif);
	color: var(--color-neutral-50);
	margin: 0px;
	letter-spacing: 1px;
}

.subtitle {
	font: 300 1rem var(--font-serif);
	color: var(--color-neutral-50);

	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 2px;
}
