.header {
	margin-bottom: 0;
	color: var(--color-primary-700);
}

.textBox {
	background-color: white;
	flex: 1;
	opacity: 0%;
	transition: var(--transition-default);
}

.textBox_active {
	opacity: 100%;
}

.header {
	margin-bottom: 8px;
}

.mtaLine {
	display: flex;
	gap: var(--gap-2xs);
	margin-bottom: var(--gap-2xs);
}

.locationInfo {
	margin-bottom: var(--gap-sm);
}

.mtaLine__symbol {
	height: 16px;
	width: 16px;
}

.directionsButton {
	transition: var(--transition-default);
	cursor: pointer;
}

.directionsButton:hover .directionsButton__chevron {
	--stroke: var(--color-neutral-50);
}
