@import "@styles/global.css";

.wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.marker {
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
	transition: var(--transition-default);
	cursor: pointer;
}

.wrapper:hover .marker {
	height: 32px;
	width: 32px;
}

.wrapper_active .marker {
	height: 32px;
	width: 32px;
}

.nameTag {
	position: absolute;
	display: flex;
	align-items: center;
	height: 24px;
	right: 0px;
	transform: translateX(calc(100% + 8px));
	margin-left: 0.5rem;
	background-color: white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	color: var(--color-primary-700);
	border-radius: 4px;
	padding: 0px 8px;
	transition: var(--transition-default);
	font-size: 16px;
}

.wrapper:hover .nameTag {
	height: 28px;
	padding: 0px 10px;
	font-size: 18px;
}

.wrapper_active .nameTag {
	height: 32px;
	padding: 0px 12px;
	font-size: 20px;
}

.marker__name {
	font: inherit;
	font-family: "Lora", serif;
	font-weight: 600;
	white-space: nowrap;
	transition: var(--transition-default);
}

.marker__innerEye {
	fill: #406e9d;
	transition: var(--transition-default);
}

.wrapper_active .marker__innerEye {
	fill: #222933;
}
