.content {
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.headingTitle {
	font: 500 var(--font-size-3xl) var(--font-serif);
	color: var(--color-primary-900);
	margin: 0;
	line-height: 1.1;
}

.textContainer {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs);
}

.stats {
	display: flex;
	flex: 1;
	flex-direction: column;
	bottom: 0;
	padding: 16px max(var(--min-padding), calc((100% - var(--width-full)) / 2));
}

.stats__card {
	position: relative;
	display: flex;
	flex: 1;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

.stats__value {
	font: 500 var(--font-size-2xl) var(--font-sans-serif);
	color: var(--color-primary-900);
	line-height: 1;
}

.stats__label {
	font: 500 var(--font-size-xl) var(--font-serif);
	color: var(--color-primary-100);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-align: center;
}

@media (min-width: 830px) {
	.content {
		gap: 24px;
		align-items: center;
	}

	.textContainer {
		max-width: var(--max-paragraph-width);
	}

	.stats {
		width: 100%;
		flex-direction: row;
		padding: 64px 0px;
	}

	.stats__card::after {
		content: "";
		position: absolute;
		right: 0px;
		height: 200%;
		border-right: 1px solid var(--color-neutral-200);
	}

	.stats__card:last-of-type::after {
		border-right: none;
	}
}

@media (min-width: 1268px) {
	.content {
		max-width: calc(var(--max-col-width) * 2);
		margin: 0px;
	}

	.heading {
		display: block;
		flex: 1 1;
		width: 600px;
		text-align: left;
		margin-bottom: var(--gap-base);
	}

	.textContainer {
		padding: 0px auto;
		width: 600px;
		flex: 2 1;
	}

	.stats {
		padding: 0px;
		max-width: 368px;
		flex-direction: column;
	}

	.stats__card {
		position: relative;
		min-width: var(--max-col-width);
		flex: 1;
	}

	.stats__card::after {
		content: "";
		position: absolute;
		bottom: 0px;
		right: auto;
		width: 70%;
		border-bottom: 1px solid var(--color-neutral-200);
		transform: translateX();
		border-right: none;
	}

	.stats__card:last-of-type::after {
		right: auto;
		border-bottom: none;
		border-right: none;
	}
}
