.footer {
    font-family: "Instrument Sans";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 80px;
    background-image:
        linear-gradient(
            65deg,
            rgba(var(--color-primary), 0.7) 0%,
            rgba(var(--color-tertiary), 1) 30%,
            rgba(var(--color-tertiary)) 100%
        ),
        url(brooklynOffice.png);
    background-color: #292929;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    color: whitesmoke;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sideContent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 4px;
}

.logo {
    margin-bottom: auto;
    font-size: 16px;
    height: min-content;
}

.logoImage {
    width: 52px;
    height: 52px;
    margin-right: 8px;
}

.logoTitle {
    font-size: 1.5em;
}

.logoSubtitle {
    font-size: 1em;
}

.logoBlurb {
    font-size: 12px;
    opacity: 80%;
}

.footerContent {
    display: flex;
    justify-content: end;
    gap: 64px;
}

.section {
    display: flex;
    flex-direction: column;
}

.section > h3 {
    margin: 0px 0px 12px 0px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    opacity: 80%;
}

.section > .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section > .content a {
    color: rgb(var(--color-secondary));
    text-decoration: none;
}

.divider {
    border-left: rgb(var(--color-primary)) 1px solid;
    opacity: 40%;
}

.locations > .title {
    font-size: 20px;
    margin: 0px 0px 12px 0px;
}

.locations > .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.location {
    h4 {
        margin: 0px 0px 2px 0px;
        font-weight: 500;
    }

    p {
        opacity: 85%;
        margin: 0px;
    }
}

.miscContent {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.legal {
}

.legal > a {
    color: rgb(var(--color-secondary));
    text-decoration: none;
}
