.content {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 80px;
	width: 100vw;
	padding: 0px 80px;
	color: var(--color-primary);
	background-color: rgba(45, 96, 148, 0.75);
	backdrop-filter: blur(10px);
	box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.7);
	transition: background-color ease-in 0.1s;
	overflow: hidden;
}

.logoContainer {
	margin: 0px 32px;
}

.logo {
	width: 64px;
}

.title {
	font-size: 24px;
}

.subtitle {
	font-size: 16px;
}

.navbar {
	display: flex;
	flex-direction: row;
}

.navList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
	list-style: none;
}
